html {
    height: 95%;
    background-color: white;
}

body {
    height: 100%;
    display: flex;
    flex-direction: row;
    position:relative;
}

.left-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.right-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.visualizer {
    height: 400px;
    display: flex;
    flex-grow: 4;
}

.control-panel {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.disco-button {
    display: flex;
    flex-direction: row;
    align-items: center;
}
